Repository reactive-firewall/ymmv, changes with the labels that .github/labeler.yml gives for each.
All labels: Multicast, Linter, Python Lang, Configs, Testing, CI, Github

.github/labeler.yml:

# Add 'Multicast' label to any root file changes
Multicast:
  - ./setup.py
  - ./multicast/*.py

# Add 'Lint' label to any lint file changes
Linter:
  - ./.stickler.yml
  - ./.hound.yml
  - ./.yamllint.conf
  - ./.flake8.ini
  - ./.deepsource.toml
  - ./tests/check_*

# Add 'Lang' label to any python file changes
Python Lang:
  - ./**/*.py
  - ./*.py

Configs:
  - ./*.yml
  - ./**/*.yml
  - ./*.ini
  - ./*.toml
  - ./*.cfg
  - ./requirements.txt

# Add 'test' label
Testing:
  - tests/**/*.py
  - tests/*
  - ./.circleci/*

CI:
  - tests/*.py
  - ./.stickler.yml
  - ./.hound.yml
  - ./.travis.yml
  - ./.appveyor.yml
  - ./.github/workflows/*
  - ./.circleci/*

Github:
  - ./.github/**/*
  - ./.github/*
  - ./README.md

### ChangeLog: Changes in file payload/bin/grepdns: Unknown Changes
  payload/bin/grepdns
Labels: none

### ChangeLog: Changes in file payload/bin/comment_line: EXIT_CODE=1
  payload/bin/comment_line
Labels: none

### ChangeLog: Changes in file payload/bin/find_exec_tool_is_from_Apple_pkg: function _cleanup() {
  payload/bin/find_exec_tool_is_from_Apple_pkg
Labels: none

### ChangeLog: Changes in file payload/bin/grepCIDR: Unknown Changes
  payload/bin/grepCIDR
  payload/bin/grepdns
  payload/bin/grepip
Labels: none

### ChangeLog: Changes in file payload/bin/lsmap: Unknown Changes
  payload/bin/lsmap
Labels: none

### ChangeLog: Changes in file payload/bin/git-tool-auto-pull: function handle_signals() {
  payload/bin/git-tool-auto-pull
Labels: none

### ChangeLog: Changes in file payload/bin/find_exec_tool_is_from_pkg: function handle_signals() {
  payload/bin/find_exec_tool_is_from_pkg
Labels: none

### ChangeLog: Changes in file payload/bin/filesig.py: Unknown Changes
  payload/bin/filesig.py
Labels: Python Lang

### ChangeLog: Changes in file .gitmodules: Unknown Changes
  .gitmodules
  YMMV.xcodeproj/project.pbxproj
  payload/Setup/update_homebrew.bash
  payload/bin/PasswordGenerator.py
  payload/bin/comment_line
  payload/bin/git-filter-data
  payload/bin/git-filter-dedup
  payload/bin/git-tool-ls-fsck
  payload/bin/grepCIDR
  payload/bin/lsmap
Labels: Python Lang

[PATCH] AApply Changes as Per Review (- WIP #7 -)
  payload/Setup/update_homebrew.bash
  payload/bin/comment_line
  payload/bin/find_exec_tool_is_from_Apple_pkg
  payload/bin/find_exec_tool_is_from_pkg
  payload/bin/git-filter-data
  payload/bin/git-filter-dedup
  payload/etc/bashrc
Labels: none

[PATCH] Improved code quality more
  payload/bin/find_exec_tool_is_from_Apple_pkg
  payload/bin/find_exec_tool_is_from_pkg
  payload/bin/git-filter-dedup
  payload/bin/git-tool-auto-pull
  payload/bin/grepCIDR
  payload/bin/grepdns
  payload/bin/grepip
  payload/bin/lsmap
Labels: none

[STYLE] refactor to use exit codes instead
  payload/bin/comment_line
  payload/bin/find_exec_tool_is_from_Apple_pkg
  payload/bin/find_exec_tool_is_from_pkg
  payload/bin/git-filter-data
  payload/bin/git-filter-dedup
  payload/bin/git-tool-auto-pull
Labels: none

[STYLE] cleanup regex and indentation a bit
  payload/bin/PasswordGenerator.py
  payload/bin/filesig.py
  payload/bin/lsmap
Labels: Python Lang

[PATCH] apply changes as discussed in review
  payload/Setup/provision_mac.bash
  payload/Setup/setup_apple_first_boot_mode.bash
  payload/bin/PasswordGenerator.py
  payload/bin/comment_line
  payload/bin/filesig.py
  payload/bin/find_exec_tool_is_from_Apple_pkg
  payload/bin/git-filter-data
  payload/bin/git-filter-dedup
  payload/bin/git-tool-auto-pull
  payload/bin/git-tool-ls-fsck
  payload/bin/lsmap
  payload/bin/printBanner.sh
Labels: Python Lang

[STYLE] some more style fixes
  .flake8.ini
  payload/bin/comment_line
  payload/bin/git-filter-data
  payload/bin/lsmap
  payload/bin/paths
Labels: Linter, Configs

[PATCH] Minor fixes for temp files
  payload/bin/git-filter-data
  payload/bin/lsmap
  payload/bin/paths
Labels: none

[STYLE] Minor Style fixes
  payload/bin/PasswordGenerator.py
  payload/bin/filesig.py
Labels: Python Lang

added .github to project config
  YMMV.xcodeproj/project.pbxproj
Labels: none

updated config
  YMMV.xcodeproj/project.pbxproj
Labels: none

[UPDATE] CI/CD version bump Changes in file .circleci/config.yml: * version bumps
  .circleci/config.yml
  .github/workflows/shellcheck.yml
Labels: Configs, Testing, CI, Github
