Repository reactive-firewall/ymmv, changes with the labels that .github/labeler.yml gives for each.
All labels: Multicast, Linter, Python Lang, Configs, Testing, CI, Github

.github/labeler.yml:

# Add 'Multicast' label to any root file changes
Multicast:
  - ./setup.py
  - ./multicast/*.py

# Add 'Lint' label to any lint file changes
Linter:
  - ./.stickler.yml
  - ./.hound.yml
  - ./.yamllint.conf
  - ./.flake8.ini
  - ./.deepsource.toml
  - ./tests/check_*

# Add 'Lang' label to any python file changes
Python Lang:
  - ./**/*.py
  - ./*.py

Configs:
  - ./*.yml
  - ./**/*.yml
  - ./*.ini
  - ./*.toml
  - ./*.cfg
  - ./requirements.txt

# Add 'test' label
Testing:
  - tests/**/*.py
  - tests/*
  - ./.circleci/*

CI:
  - tests/*.py
  - ./.stickler.yml
  - ./.hound.yml
  - ./.travis.yml
  - ./.appveyor.yml
  - ./.github/workflows/*
  - ./.circleci/*

Github:
  - ./.github/**/*
  - ./.github/*
  - ./README.md

[TESTING] Updated year to fix regression caused by old year
  LICENSE.md
  README.md
  payload/Setup/README.md
  payload/bin/filesig.py
Labels: Python Lang, Github

Initial prototype of quickscan script
  payload/bin/quickscan
Labels: none

Improved startup script performance (for dot_macrc)
  dot_macrc
Labels: none

Use custom bash compleation rules tweak (Part 1 of 2)
  dot_bashrc
Labels: none

added Makefile rules to setup custom compleations (Part 2 of 2)
  Makefile
Labels: none

### ChangeLog: Changes in file .github/workflows/Tests.yml: jobs:
  .github/workflows/Tests.yml
Labels: Configs, CI, Github

### ChangeLog: Changes in file requirements.txt: Unknown Changes
  requirements.txt
Labels: Configs

### ChangeLog: Changes in file .gitmodules: Unknown Changes
  .gitmodules
Labels: none

### ChangeLog: Changes in file YMMV.xcodeproj/project.pbxproj: Unknown Changes
  YMMV.xcodeproj/project.pbxproj
Labels: none

### ChangeLog: Changes in file README.md: Unknown Changes
  README.md
Labels: Github

### ChangeLog: Changes in file README.md: ### master ###
  README.md
Labels: Github

### ChangeLog: Changes in file README.md: ## Usage
  README.md
Labels: Github

[CONFIG] Draft config for coderabbit.yaml
  .coderabbit.yaml
  YMMV.xcodeproj/project.pbxproj
Labels: none

[FIX] refactored AI config for syntax as per AI instructions
  .coderabbit.yaml
  YMMV.xcodeproj/project.pbxproj
Labels: none

Changes in file .coderabbit.yaml: - another draft
  .coderabbit.yaml
Labels: none

Changes in file .flake8.ini: - brought flake8 config into alignment with prefs
  .flake8.ini
  .github/workflows/markdown-lint.yml
  .github/workflows/yaml-lint.yml
  .markdownlint.json
  .markdownlint.yaml
  .yamllint.conf
Labels: Linter, Configs, CI, Github

Changes in file .github/workflows/yaml-lint.yml: - fixed bad file-path
  .github/workflows/yaml-lint.yml
Labels: Configs, CI, Github

Changes in file .github/workflows/Labeler.yml: - fixed linting errors
  .github/workflows/Labeler.yml
  .github/workflows/codeql-analysis.yml
  .yamllint.conf
Labels: Linter, Configs, CI, Github

Changes in file .github/workflows/yaml-lint.yml: - fixed path globbing a bit
  .github/workflows/yaml-lint.yml
Labels: Configs, CI, Github

Changes in file .yamllint.conf: - updated ignore list with buggy files
  .yamllint.conf
Labels: Linter

Changes in file .github/workflows/codeql-analysis.yml: - Version bump
  .github/workflows/codeql-analysis.yml
Labels: Configs, CI, Github

Changes in file .markdownlint.json: - changed spaceing rules
  .markdownlint.json
  .markdownlint.yaml
  README.md
  YMMV.xcodeproj/project.pbxproj
Labels: Github

Changes in file LICENSE.md: - fixed some markdown style
  LICENSE.md
  README.md
  payload/Setup/README.md
Labels: Github

Changes in file payload/Setup/README.md: - minor refactor
  payload/Setup/README.md
Labels: none

Apply suggestions from code review
  .markdownlint.json
  .markdownlint.yaml
Labels: none

[UPDATE] updated CEP submodules Changes in file .gitmodules: - init for CEP-9
  .gitmodules
Labels: none

Changes in file payload/bin/find_exec_tool_is_from_pkg: Unknown Changes
  payload/bin/find_exec_tool_is_from_pkg
Labels: none

[PATCH] Part 3 - align scripts with CEP-8 Changes in file payload/bin/git-filter-data: - aligned exit codes
  payload/bin/git-filter-data
  payload/bin/git-filter-dedup
Labels: none

[PATCH] Part 4 - align scripts with CEP-8 Changes in file payload/bin/git-tool-auto-pull: - aligned exit codes with CEP-8
  payload/bin/git-tool-auto-pull
Labels: none

### ChangeLog: Changes in file README.md: ## Contributing
  README.md
Labels: Github

[PATCH] Part 4 - Align scripts with CEP-8. Changes in file payload/bin/grepCIDR: - Align exit codes with CEP-8.
  payload/bin/grepCIDR
Labels: none

[PATCH] Part 5 - align scripts with CEP-8 Changes in file payload/bin/find_exec_tool_is_from_pkg: - fixed regression in cleanup function
  payload/bin/find_exec_tool_is_from_pkg
  requirements.txt
Labels: Configs

[PATCH] Part 6 - align scripts with CEP-8 Changes in file payload/bin/comment_line: - aligned exit codes with CEP-8
  payload/bin/comment_line
Labels: none

[TESTING] added proto-type for lsmap New file payload/bin/lsmap: - new prototype
  payload/bin/lsmap
Labels: none

[REGRESSION] fix for linter complaints (- WIP #7 -) Changes in file README.md: - fix MD009 - trailing space removed.
  README.md
Labels: Github

[UPDATE] Added CEP-4 and CEP-7
  .gitmodules
Labels: none

Create shellcheck.yml
  .github/workflows/shellcheck.yml
Labels: Configs, CI, Github

### ChangeLog: Changes in file payload/bin/filesig.py: def extractRegexPattern(theInput_Str, theInputPattern): def main(argv=None):
  payload/bin/filesig.py
Labels: Python Lang

### ChangeLog: Changes in file payload/bin/grepip: Unknown Changes
  payload/bin/grepip
Labels: none

### ChangeLog: Changes in file README.md: ## Contributing
  README.md
Labels: Github
